@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url("../public/fonts/Poppins.ttf");
}

@font-face {
  font-family: FiraCode;
  src: url("../public/fonts/FiraCode.ttf");
}

@font-face {
  font-family: Cario;
  src: url("../public/fonts/Cairo-Light.ttf");
}

:root {
  --dark1: #0c0c0c8c;
  --bg1: #202022;
  --bg2: #2d2e32;
  --bg3: #25262a;
  --gr1: #64f4ac;
  --gr2: #64f4acea;
  --gr3: rgb(100, 244, 172, 0.7);
  --grnbg1: #05ff82;
  --grnbg2: #15eb80;
  --grnbg3: rgb(3, 252, 128, 0.4);
  --white1: #fff;
  --white2: #ccc;
  --white3: rgb(129, 129, 129);
  --red1: #ff0000;
  --red2: rgb(255, 0, 0, 0.4);

  --poppin: Poppin;
  --firacode: Firacode;
  --cario: Cario;
}

html {
  scroll-behavior: smooth;
}

ul {
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  list-style-type: none;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  left: 0px;
  overflow-x: "hidden";
  font-family: var(--poppin);
  color: var(--white1);
  background: var(--bg1);
}

.navbar .right ul a:hover > .mail {
  opacity: 1;
}

.navbar .right ul a .mail {
  padding: 8px;
  font-size: 30px;
  background: var(--bg1);
  color: var(--gr1);
  border-radius: 50%;
  opacity: 0.7;
}

.mobileNav {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px auto;
  position: fixed;
  left: 0px;
  bottom: -5px;
  background: var(--bg3);
  box-shadow: 0px 0px 4px #000;
  z-index: 1000;
  overflow: hidden;
}

.mobileNav .main {
  width: 100vmin;
  max-height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0px;
}

.mobileNav .main .li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}

.mobileNav .main li .icon {
  font-size: 20px;
  padding: 15px;
  transition: all 0.2s ease;
}

.mobileNav .main .li label {
  font-size: 12px;
  font-weight: 300;
  transition: all 0.3s ease;
  transform: translateY(100px);
}

.mobileNav .main .li:hover > label {
  display: flex;
  transition: all 0.3s ease;
  transform: translateY(-2px);
  color: var(--gr2);
}

.mobileNav .main .li:hover > .icon {
  background: var(--bg1);
  border-radius: 50%;
  color: var(--gr2);
  transition: all 0.2s ease;
}

/* when nav is active */

.mobileNav .main .active {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.mobileNav .main .active > label {
  font-size: 12px;
  font-weight: 300;
  transition: all 0.3s ease;
  transform: translateY(-2px);
  color: var(--gr2);
}

.mobileNav .main .active > .icon {
  padding: 7px;
  background: var(--bg1);
  border-radius: 50%;
  color: var(--gr2);
  transition: all 0.2s ease;
}
