@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppin;
  src: url("../public/fonts/Poppins.ttf");
}

@font-face {
  font-family: FiraCode;
  src: url("../public/fonts/FiraCode.ttf");
}

@font-face {
  font-family: Cario;
  src: url("../public/fonts/Cairo-Light.ttf");
}

:root {
  --dark1: #0c0c0c8c;
  --bg1: #202022;
  --bg2: #2d2e32;
  --bg3: #25262a;
  --gr1: #64f4ac;
  --gr2: #64f4acea;
  --gr3: rgb(100, 244, 172, 0.7);
  --grnbg1: #05ff82;
  --grnbg2: #15eb80;
  --grnbg3: rgb(3, 252, 128, 0.4);
  --white1: #fff;
  --white2: #ccc;
  --white3: rgb(129, 129, 129);
  --red1: #ff0000;
  --red2: rgb(255, 0, 0, 0.4);

  --poppin: Poppin;
  --firacode: Firacode;
  --cario: Cario;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

body {
  font-family: var(--poppin);
  color: var(--white1);
  background: var(--bg1);
}
html,
body {
  overflow-x: hidden;
}
